/* 购物车矢量图 */


.iconfont {
  /* font-family:"iconfont" !important; */
  font-size:16px;
  font-style:normal;
  width: 20px;
  height: 20px;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* .icon-xiazai1:before { content: "\e600"; } */
